@font-face {
  font-family: 'Moabhoers 2.0';
  src: url('fonts/Moabhoers 2.0.eot');
  src: url('fonts/Moabhoers 2.0.eot?#iefix') format('embedded-opentype'), url('fonts/Moabhoers 2.0.woff') format('woff'), url('fonts/Moabhoers 2.0.ttf') format('truetype');
}
@font-face {
  font-family: 'Moabhoers Bold 2.0';
  src: url('fonts/Moabhoers Bold 2.0.eot');
  src: url('fonts/Moabhoers Bold 2.0.eot?#iefix') format('embedded-opentype'), url('fonts/Moabhoers Bold 2.0.woff') format('woff'), url('fonts/Moabhoers Bold 2.0.ttf') format('truetype');
}

body{
  font-family: 'Moabhoers 2.0', Helvetica, Arial;
  font-size: 16px;
  color: #666;
  font-weight: 400;
  letter-spacing: 1px;
  background: url(img/background.jpg) no-repeat;
  background-size: 100%;
}

p{
	line-height: 30px;
	font-weight: 400px;
}

h1, h2 {
	color:#333;
	font-family: 'Moabhoers 2.0';
	font-weight: 700;
}

a {
	text-decoration: none;
}
a:hover {
	color: transparent;
}


.mainContent {
    background: transparent;
	max-height: 800px;
	padding: 60px 0;
	margin: 0;
	font-family: 'Moabhoers Bold 2.0';
}

.mainContent h1 {
	color:#4d4d4f;
	font-weight: 300;
	margin-bottom: 60px; 
}

.btns span {
    font-size: 40px;
    padding: 5px 15px 2px;
    background: #25aae1;
    color: #fff;
}

footer {
	padding: 40px 0;
}

.social-icons {
	padding-top: 20px;
}

.social-icons a {
	font-size:20px;
}


footer {
    position: relative;
    top: 170px;
}

.btns {
    height: 47px !important;
    overflow: hidden;
}

.mainContent{
		padding: 170px 0 0px;
}
.social-icons {
    float: right;
}

@media screen and (max-width: 1450px) and (min-width: 1200px){
	.mainContent{
		padding: 170px 0 0px;
	}
	.dream.btns {
	    margin-top: 60px;
	}

	.create.btns {
	    float: right;
	    padding-right: 10px;
	}

	.mainContent h1 {
		font-size: 55px;
	    margin-top: 60px;
	}
	footer {
	    padding: 50px 0px 30px 0px;
	}
}


@media screen and (max-width: 1195px) and (min-width: 750px) {

	footer {
	    padding: 0px;
        top: 150px;
        color: black;
	}

}


@media screen and (max-width: 799px) and (min-width: 450px) {
	.mainContent{
		padding: 80px 0 0px;
	}
	footer {
	    padding: 0px;
	    right: 0;
        top: 60px !important;
	}

}

@media screen and (max-width: 440px) and (min-width: 150px){

	.mainContent{
		padding: 100px 0 0px;
	}
	body{
		background-size:100% 100%; 
	}
	.mainContent h1{
	    margin-bottom: 20px;
	}
	.inspire.btns {
	    margin-bottom: 10px;
	}
	.row.text-center > .col-md-3 {
	    margin-bottom: 10px;
	}
	footer {
		top: 25px;
	}
	.social-icons {
	    float: none;
	    text-align: center;
	}
}
